% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{sub_dirs, []}.

{erl_opts, [fail_on_warning,
            % debug_info,
            warn_unused_import,
            warn_export_all]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{xref_checks, [undefined_function_calls]}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{eunit_compile_opts, [{src_dirs, ["src"]}]}.

{edoc_opts, [{doclet, edown_doclet},
             {dialyzer_specs, all},
             {report_missing_type, true},
             {report_type_mismatch, true},
             {pretty_print, erl_pp},
             {preprocess, true},
             {top_level_readme, {
                "./doc/README.md",
                "https://github.com/snaiper80/hashids-erlang"
             }}]}.

{require_otp_vsn, "R16|17|18"}.

{deps_dir, ["deps"]}.
{deps,     [
    {edown, ".*", {git, "https://github.com/uwiger/edown.git", {branch, "master"}}}
]}.